package restapi

var (
	// the credentials for this API (adapt values when registering API)
	clientID     = "#######################.apps.googleusercontent.com"
	clientSecret = "######################"
)
